@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Nunito+Sans:wght@200;300;400;600;800&display=swap');

*{
    box-sizing: border-box;
    font-family: "Nunito Sans";
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/* Menu */

.contenedor-header{
    background: rgba(0, 0, 0, 0.800);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: "Nothing You Could Do";
    font-size: 40px;
    color: #b0ca19;
    text-decoration: none;
}

.contenedor-header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: antiquewhite;
    margin: 0 15px;
    padding: 3px;
    transition: .4s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: #b0ca19;
}

.nav-responsive{
    background-color: #b0ca19;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.contenedor-header .redes a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b00;
    border-radius: 50px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

.contenedor-header .redes a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

/* Seccion Inicio */

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../images/header.jpg);
    background-size: contain;
    height: 100vh;
    color: antiquewhite;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 8px solid #b0ca19;
    width: 40%;
    margin: auto;
    border-radius: 100%;
    display: block;
}

.inicio .contenido-banner h1{
    font-size: 30px;
    font-family: "Nunito Sans";
    text-align: center;
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

/* Seccion Sobre Mí */

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-sobremi{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Nothing You Could Do';
    text-align: center;
    padding: 50px 0;
}

.sobremi .contenido-sobremi p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-sobremi p span{
    color: #b0ca19;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col
{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Nothing You Could Do';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #b0ca19;
    width: 130px;
}

/* Boton Descargar CV */

.sobremi .enviarcv .glow-on-hover {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(51, 46, 46);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.sobremi .enviarcv .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 300%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.sobremi .enviarcv .glow-on-hover:active {
    color: #000
}

.sobremi .enviarcv .glow-on-hover:active:after {
    background: transparent;
}

.sobremi .enviarcv .glow-on-hover:hover:before {
    opacity: 1;
}

.sobremi .enviarcv .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Portfolio */

.portfolio{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.portfolio h2{
    font-size: 40px;
    font-family:"Nothing You Could Do";
    text-align: center;
    padding: 40px 0;
}

.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portfolio .galeria .proyecto{
    position: relative;
    max-width: 300px;
    height: fit-content;
    margin: 15px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img{
    width: 100%;
    display: flex;
}

.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(24, 24, 23, 0.884), rgba(17, 17, 17, 0.87));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 17px;
    transition: 0.5s;
}

.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/* Seccion Contacto */

.contacto{
    background: linear-gradient(to top, rgba(30, 35, 38, 0.815), rgba(30,35,38,1)),
    url(../images/correo.jpg);
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 40px;
    font-family:"Nothing You Could Do";
    text-align: center;
    padding: 40px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #1e2326;
    color: #fff;
    font-size: 18px;
}

/* Boton Enviar Mensaje */

.contacto .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.contacto .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 300%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.contacto .glow-on-hover:active {
    color: #000
}

.contacto .glow-on-hover:active:after {
    background: transparent;
}

.contacto .glow-on-hover:hover:before {
    opacity: 1;
}

.contacto .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Seccion Footer */

.footer-principal {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-principal .footer p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-principal p.footer-nav {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-principal p.footer-nav a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-principal .footer-nav a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-principal .footer-nav .link-1:before {
    content: none;
  }
  
  .footer-principal .footer-redes {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-principal .footer-redes a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b00;
    border-radius: 50px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-principal .footer-redes a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-principal p.footer-nav a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-principal .footer, .footer-principal .footer-redes {
      text-align: center;
    }
    .footer-principal .footer-redes {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-principal .footer p.footer-nav {
      line-height: 1.8;
    }
  }

  /* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}
